@font-face{
    font-family: broken;/* Importing fonts */
    src:url(../Fonts/BROKEN15.TTF);
}

@font-face {
    font-family: dancing script;
    src:url(../Fonts/DancingScript-Medium.ttf);
}

@font-face {
    font-family: allura;
    src: url(../Fonts/Allura-Regular.ttf);
}                                     
 /*-------------------------*/

*, *::before, *::after{
    box-sizing: border-box;/* defaulting border-box*/
}

html{
    scroll-behavior: smooth;/*scroll behaviour smooth to make transition smooth while using navbar*/
}

body{
    margin: 0;/*defaulting margin to 0 so that background image can fit fully in the screen*/
    overflow-x: hidden;/*to not allow scroll in x-axis*/
    align-items: center;                
}


.header{                                           /*Nav-bar starts here*/
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 1px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;/*it describes depth of a content*/
    background-color: #000000;       
    transition: top 0.5s;       
}   

.logo{
    font-family: 'Dancing Script';
    position: relative;
    font-size: 32px;
    color: white;
    text-decoration: none;/*to remove underline of hyperlink*/
    font-weight: 700;
}

.navbar a{/*Characteristics of the navbar*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    font-size: 18px;
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 700;
    margin-left: 30px;
}


.navbar a::before{/*responsibe for the underline animation in nav-bar*/
    content: '';                      
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: rgb(255, 255, 255);
    transition: .5s;/*describes the amount of time given for a transition*/
}

.navbar a:hover::before{
    width: 100%;
    font-size: 25px;
}                                                     /*Nav-bar ends here*/

.about{                                              /*Background img 1 starts here.*/
    background: url('../Img/About us/background/AboutUs-bg.jpg') center/cover no-repeat;;/*center represents back-ground postition and cover represents background-size.*/
    text-align: center;
    padding-top: 15rem;
    padding-bottom: 30rem;
}

.aboutus h1{/*The "About Us"font at the starting */
    font-family: 'dancing script';     
    color: white;
    text-decoration: none;/*to remove underline of hyperlink*/
    font-weight: 700;
    cursor: default;
    font-size: 8rem;
    margin-bottom: -20px;
    transition: 1s;
}

.aboutus p{
    font-family: broken;
    font-size: 30px;
    margin-top: -0px;
    color: rgb(255, 255, 255);
    cursor: default;
}

.aboutus h1:hover{/*Hover Animation for the heading*/
    font-size: 11rem;
}                                                        /*background image 1 ends here*/

.goToTopBtn {                                           /*Go to top button starts here.*/
    position: fixed;
    bottom: 20px;
    text-decoration: none;
    right: 20px;
    background-color: black;
    color: white;
    border: none;
    width: 70px;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;    
    z-index: 100;
    border-radius: 50px;
    font-weight: 700;
    opacity: 0;
    transition: 1s;
}

section:hover .goToTopBtn,
footer:hover .goToTopBtn{
    opacity: 1;
}                                                    /*Go to top button ends here.*/

.textbox{                                                /*background image 2 starts here*/
    background: url("../Img/About us/background/intro-bg.jpg")bottom /cover no-repeat;/*center represents back-ground postition and cover represents background-size.*/
    text-align: center;
    padding-top: 15rem;
    padding-bottom: 30rem;
    margin-bottom: -300px;
    display: flex;
}

.description{
    color: white;   
    display: flex;
    flex-direction: column;
}

.description h1{ 
    margin-top: -150px;
    font-size: 100px;
    font-family: 'dancing script';
    text-align: center;
}

.description .p1{
    font-size:25px;
    display: flex;
    padding: 20px;
    width: 50%;
    margin-left: 70px;
}

.p2{
    display: flex;
    font-size:25px;
    padding: 20px;
    width: 50%;
    margin-left: 45%;
    margin-top: -16%;
}

.pic{
    display: flex;
    margin-left: 60%;
    margin-top: -15%; 
    border-radius: 50px 10px 100px 10px;
}

.pic1{
    display: flex;
    margin-left: 9%;
    margin-top: 9%;
    border-radius: 50px 10px 100px 10px;
}                                                             /*Background img 2 ends here*/

.intro{                                                      /*Background img 3 starts here*/
    background: url('../Img/About us/background/portfolio-bg.jpg')bottom/cover no-repeat;
    padding-top: 15rem;
    padding-bottom: 52rem;
    margin-bottom: -200px;
    display: flex;
}

.box{
    position: relative; 
    width: 750px; 
    height:350px; 
    margin-left: 15%;
    transition: 0.5s;
}   

.he{/*Heading of the Section*/
    padding: 40px;
    margin-top: -30%;   
    margin-left: 50%;
    font-size: 60px;
    color: beige;
    text-align: center;
    font-family: 'allura';
}


.one, .three, .two, .four { /*1st, 2nd, 3rd, 4th Box of Team Members*/
    position: relative;
    margin: 20px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.one, .three {/*Aligning The 1st and 3rd box*/
    margin-left: -19%;
    margin-top: -9%;
    margin-bottom: 5%;
}

.two, .four {/*Aligning The 2st and 34rd box*/
    margin-left: 39%;
    margin-top: -18%;
    margin-bottom: -6%;
}

.box img{
    position: absolute;
    top: 1%;
    border-radius: 50px 10px 100px 10px;
    left: 50%;
    pointer-events: none;
    transition: 0.5s;
}

.one:hover img, .three:hover img{
   left: 78%;
}

.two:hover img,.four:hover img{
    left: 20%
}

.one .text, .three .text{
    position: relative;
    width: 50%;
    left: 45%;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
    opacity: 0;
}

.two .text,.four .text{ 
    position: relative;
    width: 50%;
    left: 40%;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
    opacity: 0 ;
}

.one:hover .text, .three:hover .text{
    left: 28%;
    opacity: 1;
}

.two:hover .text,.four:hover .text{
    left: 50%;
    opacity: 1;
}
.text h2{ /*Name of Team members*/
    font-family: 'Dancing Script', cursive;
    color:  white;
}

.text p{ /*Portfolio Description*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}                                                              /*Background img 3 ends here*/

.feed{                                                        /*Feedback Section starts here*/
    background: url('../Img/About us/background/feedback-bg.jpg') bottom / cover no-repeat;/*center represents back-ground postition and cover represents background-size.*/
    margin-top: 8%;
    padding-top: 15rem;
    padding-bottom: 5rem;
}

.container-f {
    bottom: 0;
    max-width: 600px;
    margin: 50px auto;
    background-color: transparent;
    backdrop-filter: blur(20px);
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

.container-f input{
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

.container-f textarea{
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: white;
    border-bottom: 2px solid white;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}                                                              /*Feedback Section Ends here*/


ul{                 /*footer starts here*/
    list-style: none; 
    padding-left: 0px;
}
 
footer li, footer h4{                                           /*footer starts here*/
    /* Had to add li and h4 as it was conflicting with gototop button line height. */
    line-height: 1.5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container2{
   max-width: 1170px;  
   margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
    padding-left: 0px;
}

.footer{
    background-color: black;
    padding-top: 70px;
    padding-bottom: 20px;
    padding-left: 50px;
}

.column{
    width: 25%;
    padding: 0 15px;
}

.column h4{
    font-size:18px;
    color:white;
    text-transform: capitalize;/*Makes first letter of each word capital.*/
    margin-bottom:30px;
    font-weight: 800;
    position: relative;
}

.column h4::before{
    content:'';
    position: absolute;
    left: 0%;
    bottom:-10px;
    background-color:#e91e63 ;
    height:2px;
    box-sizing: border-box;
    width: 50px;
}

.column ul li a{
    font-size: 16px;
    text-transform:capitalize;/*Makes first letter of each word capital.*/
    text-decoration: none;
    font-weight: 300;
    color: white;
    display: block;
    transition: 0.5s ease;
}

.column ul li a:hover{
    padding-left: 8px;

}

.column2{
    color: white;
    text-align: center;
    margin-top: 40px;
}                                        /*footer ends here*/

