@font-face{/* Importing fonts */
    font-family: broken;
    src:url(../Fonts/BROKEN15.TTF);
}

@font-face {
    font-family: dancing script;
    src:url(../Fonts/DancingScript-Medium.ttf);
}

*, *::before, *::after{
    box-sizing: border-box;/* defaulting border-box*/
}

html{
    scroll-behavior: smooth;/*scroll behaviour smooth to make transition smooth while using navbar*/
}

body{
    margin: 0;/*defaulting margin to 0 so that background image can fit fully in the screen*/
    overflow-x: hidden;/*to not allow scroll in x-axis*/
}


.header{                                            /*Nav-bar starts here*/
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: beige;
    padding: 1px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;/*it describes depth of a content*/
}

.logo{
    font-family: 'Dancing Script';
    position: relative;
    font-size: 32px;
    color: black;
    text-decoration: none;/*to remove underline of hyperlink*/
    font-weight: 700;/*Describe text's boldness*/
}

.navbar a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    font-size: 18px;
    color:black;
    text-decoration: none;/*removes underline and blue color effect of links*/
    font-weight: 700;
    margin-left: 30px;
}

.navbar a::before{/*responsibe for the underline animation in nav-bar*/
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: black;
    transition: .5s;/*describes the amount of time given for a transition*/
}

.navbar a:hover::before{
    width: 100%;
    font-size: 25px;
}                                                       /*Nav-bar ends here*/


.teamLogo{                                              /*background image 1 starts here*/
    background: url('../Img/Home/CompBG.jpg') center/cover no-repeat;/*center represents back-ground postition and cover represents background-size.*/
    filter: brightness(0.8);
    text-align: center;
    padding-top: 14rem;
    padding-bottom: 25rem;
}

.teamLogo h1 {
    font-family: 'Dancing Script';
    font-size: 8rem;
    margin-bottom: -20px;
    color: black;
    transition: 1s;
    cursor: default;
}

.teamLogo p{
    font-family: broken;
    font-size: 20px;
    color: black;
    cursor: default;
}

.teamLogo h1:hover{
    font-size: 12rem;
}                                                       /*background image 1 ends here*/

.goToTopBtn {                                           /*Go to top button starts here.*/
    position: fixed;
    bottom: 20px;
    text-decoration: none;
    right: 20px;
    background-color: beige;
    color: black;
    border: none;
    width: 70px;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;    
    z-index: 100;
    border-radius: 50px;
    font-weight: 700;
    opacity: 0;
    transition: 1s;
}

section:hover .goToTopBtn,
footer:hover .goToTopBtn{
    opacity: 1;
}                                                    /*Go to top button ends here.*/

.container {                                        /*background image 2 starts here*/
    background: url(../Img/Home/Bg-productsLink.jpg) bottom/cover no-repeat;/*center represents back-ground postition and cover represents background-size.*/
    padding: 5rem 0rem 12rem;
    
}

.box{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
}

.firstimg {
    margin-left: 200px;
    /* border-radius: 50px 10px 100px 10px; Didnt work, reason being image not specified
    transition: 1s;
    box-shadow: 2px 2px 10px black;*/
}

.firstimg img{ 
    border-radius: 50px 10px 100px 10px;/*specified image and it's doing it's work.*/
    transition: 1s;
    box-shadow: 2px 2px 10px black;/*first value represents horizontal offset, second value vertical offset, third value being blur radius.*/
}

.firstimg:hover img{
    border-radius: 10px 50px 10px 100px;
    box-shadow: 20px 10px 2px black;/*first value represents horizontal offset, second value vertical offset, third value being blur radius.*/
} 

.text{
    margin-top: 30px;
    font-size: 40px;
    color: blanchedalmond;
    margin-left: 40px;
    text-shadow: 2px 2px 4px #333333;/*first value represents horizontal offset, second value vertical offset, third value being blur radius.*/
}

.text h1{
    margin-bottom: -70px;/*Negative, to have less distance between heading and paragraph.*/
}

.text p{
    margin-bottom: -5px;
}

.btn button{
    font-size: 25px;
    border-radius: 40px;
    color: blanchedalmond;
    background-color: transparent;
    border: blanchedalmond solid 1px;
    box-shadow: 2px 2px 4px #333333;
    transition: .5s;
} 

.btn button:hover{
    cursor: pointer;
    box-shadow: 10px 4px 2px #333333;/*first value represents horizontal offset, second value vertical offset, third value being blur radius.*/
}                                                                       /*background image 2 ends here*/

.container1 {                                                           /*background image 3 starts here*/
    background: url(../Img/Home/background3.png) center/cover no-repeat;/*center represents back-ground postition and cover represents background-size.*/
    padding: 5rem 0rem 15rem;
}

.box1{
    display: flex;
    margin-top: 190px;
    margin-left: 190px;
}

.firstimg1 {
    margin-left : 20px;
    margin-right: 200px;
}

.firstimg1 img{
    border-radius: 50px 10px 100px 10px;
    transition: 1s;
    box-shadow: 2px 2px 10px #333333;
}

.firstimg1:hover img{
    border-radius: 10px 50px 10px 100px;
    box-shadow: 20px 10px 2px #333333;
} 

.text1{
    margin-top: 50px;
    font-size: 40px;
    color: burlywood;
    margin-left: 40px;
    text-align: right;
    text-shadow: 2px 2px 4px #333333;
}

.text1 h1{
    margin-bottom: -70px;
}

.text1 p{
    margin-bottom: -5px;
}

.btn1 button{
    font-size: 25px;
    border-radius: 40px;
    color: burlywood;
    background-color: transparent;
    border: solid burlywood 1px;
    box-shadow: 2px 2px 4px #333333;
    transition: .5s;
    text-shadow: 2px 2px 4px #333333;
} 

.btn1 button:hover{
    cursor: pointer;
    box-shadow: 10px 4px 2px #333333;
}                                                                    /*background image 3 ends here*/

.container3 {                                                        /* Background 4 ends here*/
    background: url(../Img/Home/Coding-bg.jpg) bottom/cover no-repeat;/*center represents back-ground postition and cover represents background-size.*/
    padding: 5rem 0rem 15rem;
    
}

.box2{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
}

.firstimg2 {
    margin-left: 200px;
}

.firstimg2 img{
    border-radius: 50px 10px 100px 10px;
    transition: 1s;
    box-shadow: 2px 2px 4px #333333;
    filter: brightness(0.9);/*Changes brightness of the image.*/

}

.firstimg2:hover img{
    border-radius: 10px 50px 10px 100px;
    box-shadow: 20px 10px 2px #333333;
} 

.text3{
    margin-top: 50px;
    font-size: 40px;
    color: blanchedalmond;
    margin-left: 40px;
}

.text3 h1{
    margin-bottom: -50px;
}

.btn2 button{
    font-size: 25px;
    border-radius: 40px;
    color: blanchedalmond;
    background-color: transparent;
    border: blanchedalmond solid 1px;
    box-shadow: 2px 2px 4px #333333;
    transition: .5s;
} 

.btn2 button:hover{
    cursor: pointer;
    box-shadow: 10px 4px 2px #ffffff;
}                                                                    /* Background 4 ends here*/

.container4 {                                                        /*Background 5 starts here*/
    background: url(../Img/Home/Team-bg.jpg) center/cover no-repeat;/*center represents back-ground postition and cover represents background-size.*/
    padding: 5rem 0rem 15rem;
    
}

.box4{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    margin-left: 21%;
}

.firstimg4 {
    margin-left : 20px;
    margin-right: 20px;
}

.firstimg4 img{
    border-radius: 50px 10px 100px 10px;/*Responsible for curved corners.*/
    transition: 1s;
    box-shadow: 2px 2px 10px #333333;
}

.firstimg4:hover img{
    border-radius: 10px 50px 10px 100px;
    box-shadow: 20px 10px 2px #333333;
} 

.text4{
    font-size: 40px;
    color: burlywood;
    margin-left: 40px;
    text-align: right;
    text-shadow: 2px 2px 4px #333333;
    margin-top: 20px;
}

.text4 h1{
    margin-bottom: -90px;
}

.text4 p{
    margin-bottom: -5px;
}

.btn4 button{
    font-size: 25px;
    border-radius: 40px;
    color: burlywood;
    background-color: transparent;
    border: solid burlywood 1px;
    box-shadow: 2px 2px 4px #333333;
    transition: .5s;
    text-shadow: 2px 2px 4px #333333;
} 

.btn4 button:hover{
    cursor: pointer;
    box-shadow: 10px 4px 2px #333333;
}/*background 5 ends here*/

footer li, footer h4{                                           /*footer starts here*/
    /* Had to add li and h4 as it was conflicting with gototop button line height. */
    line-height: 1.5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container2{
   max-width: 1170px;  /*sets the maximum width that an element can have */
   margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;/*wraps element within flex parent object.*/
}

ul{
    list-style: none;
    padding-left: 0px;
}

.footer{
    background-color: beige;
    padding-top: 70px;
    padding-bottom: 20px;
    padding-left: 50px;
}

.column{
    width: 25%;
    padding: 0 15px;
}

.column h4{
    font-size:18px;
    color:black;
    text-transform: capitalize;/*Makes first letter of each word capital.*/
    margin-bottom:30px;
    font-weight: 800;
    position: relative;
}

.column h4::before{
    content:'';
    position: absolute;
    left: 0%;
    bottom:-10px;
    background-color:#e91e63 ;
    height:2px;
    box-sizing: border-box;
    width: 50px;
}

.column ul li a{
    font-size: 16px;
    text-transform:capitalize;/*Makes first letter of each word capital.*/
    text-decoration: none;
    font-weight: 300;
    color: black;
    display: block;
    transition: 0.5s ease;
}

.column ul li a:hover{
    padding-left: 8px;

}

.column2{
    color:black;
    text-align: center;
    margin-top: 40px;
}                                                       /*footer ends here*/